@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Rubik", sans-serif;
}

.fixed-bg {
  /* background-image: url("./assets/bg.jpg"); */
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 100vh;
  width: 100vw;
}

.fixed-bg::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.7;
}

.p-btn {
  background: transparent;
  position: relative;
  padding: 5px 15px;
  display: flex;
  align-items: center;
  font-size: 17px;
  font-weight: 600;
  text-decoration: none;
  cursor: pointer;
  border: 1px solid rgb(37 99 235);
  border-radius: 25px;
  outline: none;
  overflow: hidden;
  color: rgb(37 99 235);
  transition: color 0.3s 0.1s ease-out;
  text-align: center;
}

.p-btn span {
  margin: 10px;
}

.p-btn::before {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  content: "";
  border-radius: 50%;
  display: block;
  width: 20em;
  height: 20em;
  left: -5em;
  text-align: center;
  transition: box-shadow 0.5s ease-out;
  z-index: -1;
}

.p-btn:hover {
  color: #fff;
  border: 1px solid rgb(37 99 235);
}

.p-btn:hover::before {
  box-shadow: inset 0 0 0 10em rgb(37 99 235);
}

.client-logos img {
  width: 150px;
  height: 150px;
}

@media screen and (max-width: 768px) {
  .client-logos img {
    width: 80px;
    height: 80px;
  }
}
